
<ion-tabs>
  
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline" aria-hidden="true"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="jobs">
      <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
      <ion-label>Jobs</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <picture style="padding: 2px;">
        <img src="../../assets/img/imgbtn.svg" alt="">
      </picture>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="person-add-outline" aria-hidden="true"></ion-icon>
      <ion-label>Invite</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="notifications-outline" aria-hidden="true"></ion-icon>
      <ion-label>Notification</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

