<ion-content [fullscreen]="true" class="content">

  <ion-header class="ion-no-border ion-no-padding">
    <ion-toolbar class="header">
      <ion-text class="title">Welcome Anil</ion-text>
      <ion-avatar slot="end" class="dp">
        <img alt="DP" src="../../assets/img/srkimage.jpg" />
      </ion-avatar>
    </ion-toolbar>
  </ion-header>


  <section class="ion-margin-top">
    <div class="text-center">
      <ion-text class="text-light">Bond Points</ion-text>
      <h1 class="text-success">24.29</h1>
    </div>
    <picture class="img-center">
      <img src="../../assets/img/Boosting Indicator.svg">
    </picture>

    <div class="grid ion-margin-top">
      <ion-card class="bluefaint">
        <ion-card-content class="text-center">
          <ion-text class="fs-13px" color="light">Activate Rate</ion-text>
          <h2>0.75 Points/hr</h2>
        </ion-card-content>
      </ion-card>


      <ion-card class="bluefaint">
        <ion-card-content class="text-center">
          <ion-text class="fs-13px" color="light">Activate Rate</ion-text>
          <h2>0.75 Points/hr</h2>
        </ion-card-content>
      </ion-card>
    </div>
  </section>

  <section class="drower">
    <h4 class="fw-600">Your Dashboard</h4>

    <ion-card class="ion-margin-top">
      <ion-card-content class="input-group">
        <div>
          <ion-text class="text-dark">Active job Applications</ion-text>
          <h1 class="text-dark text-bold">2</h1>
        </div>
        <picture slot="end">
          <img src="../../assets/img/i1.svg" alt="">
        </picture>
      </ion-card-content>
    </ion-card>



    <h4 class="fw-600 mt-3-5"> Do more with Bondex</h4>


    <swiper-container [loop]="true" [pagination]="true">
      <swiper-slide>
        <div class="swiper-zoom-container" style="z-index: 1;display: flex;align-items: center;">
          <div class="card">
            <img src="../../assets/img/imgbtn.svg" class="cardImg" alt="">
            <ion-text>
              Learn about Bond points
            </ion-text>
          </div>

        </div>
      </swiper-slide>


      <swiper-slide>
        <div class="swiper-zoom-container" style="z-index: 1;">
          <div class="card">
            <img src="../../assets/img/rabbit 1.png" class="cardImg" alt="">
            <ion-text>
              Encrease your Activity rate tip #1
            </ion-text>
          </div>

        </div>
      </swiper-slide>

      <swiper-slide>
        <div class="swiper-zoom-container" style="z-index: 1;">
          <div class="card">
            <img src="../../assets/img/Group.svg" class="cardImg" alt="">
            <ion-text>
              Increase your activity rate tip #2
            </ion-text>
          </div>
        </div>
      </swiper-slide>

      <swiper-slide>
        <div class="swiper-zoom-container" style="z-index: 1;">
          <div class="card">
            <img src="../../assets/img/Group 37829.svg" class="cardImg" alt="">
            <ion-text>
              Boost job applications
            </ion-text>
          </div>
        </div>
      </swiper-slide>
    </swiper-container>


    <h4 class="fw-600 mt-3-5"> Invite your friends</h4>

    <ion-card class="article ion-text-center ion-no-margin">

      <img src="../../assets/img/invite-friends.svg" alt="">

      <ion-card-header>
        <h1 class="text-dark">Build your Network</h1>
      </ion-card-header>
      
      <ion-card-content>
        Each Actively boosting Connection increases
        your activity rate by +0.02 points per hour.

        <ion-button color="success" shape="round"><ion-icon name="copy-outline"></ion-icon> &nbsp; Copy referral link</ion-button>
      </ion-card-content>
    </ion-card>
  </section>
</ion-content>