.title {
  float: left;
  margin-left: 10px;
  font-size: 1.5rem;
}

.fw-600 {
  font-weight: 600;
}

.header {
  --background: rgba(7, 40, 58, 255)
}

.dp {
  height: 50px;
  min-height: 50px;
  min-width: 50;
  width: 50px;
  margin-right: 10px;
}

.content {
 // overflow-y: scroll;
  --background: rgba(7, 40, 58, 255);
   padding-bottom:200px;
  // height: calc(100vh - 150px) !important;
  
}

.header,
.content,
.text-light {
  color: #eee;
}

.text-success {
  color: gray;
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.img-center {
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
}

.fs-13px {
  font-size: 13px;
}

.bluefaint {
  background-color: rgba(49, 65, 88, 1);

  ion-text,
  h2 {
    color: #eee;
    text-align: center;
  }
}


.drower {
  
  width: 100%;
  background-color: #eee;
  padding: 25px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  //height: auto;
}

.input-group{
  display: grid;
  grid-template-columns: 80% 20%;

}

swiper-container {
  width: 100%;
  height: 100%;
}
 
swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

swiper-container {
  width: 100%;
  height: 100%;
 
  --swiper-pagination-bullet-inactive-color: var(--ion-color-step-200, #cccccc);
  --swiper-pagination-color: var(--ion-color-primary, #3880ff);
}